#container{
    width: 100%;
    height: 100%;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    display: flex;
}
#calculator-container{
    width: 30%;
    height: 62%;
    background-color: lightblue;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 10px solid #ff9e0b;
    border-radius: 15px;
}
#numbers-display{
    width: 100%;
    height: 20%;
    background-color: rgba(83,83,83,255);
    display: flex;
    flex-wrap: wrap;
    border-bottom: 10px solid #ff9e0b;
    border-radius: 5px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    justify-content: flex-end;
    align-items: center;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    overflow: hidden;
}
#numbers-div{
    width: 100%;
    height: 80%;   
    display: flex;
    flex-wrap: wrap;
    align-items:center; 
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: rgba(83,83,83,255);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}
.calculator-button{
    width: 23.5%;
    height: 19.5%;
    background-color: rgba(101,101,100,255);
    align-items: center;
	border: none;
	cursor: pointer;
    border-radius: 4px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
}
.calculator-button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
.calculator-button:active{
    
    background-image: linear-gradient(white, rgba(101,101,100,255));
}
.calculator-button div{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.number{
    background-color: rgba(123,123,122,255);
}
.number:active{
    background-image: linear-gradient(white ,#77A1D3);
}
.operator-signs:active{
    background-image: linear-gradient(white, rgba(255,158,11,255));
}
#backspace:active{
    background-image: linear-gradient(white, rgba(255,158,11,255));
}
#backspace div{
    font-size: 15px;
}

